body,
html {
    align-items: center;
    background-color: var(--background1);
    font-family: 'Poppins', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
}

p {
    color: var(--text2);
    line-height: 1em;
    font-size: 1.5em;
    line-height: 1.5em;
    font-weight: 300;
}

  .big_icon{
    margin-right: 20px;
  }

@media only screen and (max-width: 900px) {
    p {
        font-size: 1.5em;
        line-height: 1.5em;
        font-weight: 400;
    }
    .container {
        width: 90%;
    }
    .big_icon{
        margin-right: 8px;
      }
    }
  
.btn-primary {
    background: var(--btn-primary-bg);
    box-shadow: 0px 3px 13px 3px var(--btn-primary-shadow);
}

.btn-secondary {
    background: var(--btn-secondary-bg);
    box-shadow: 0px 3px 13px 3px var(--btn-secondary-shadow);
}

.btn-big {
  text-align: center;
  color: #F4F6FB;
  width: fit-content;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  margin-top: 1.25rem;
  border-radius: 0.5rem;
  display: inline-block;
  transition: all 0.3s;
  box-sizing: border-box;
  font-weight: 300;
  font-size: 1.2rem;
  cursor: pointer;
}

h1 {
  font-weight: 700;
}

.text {
  background: -webkit-linear-gradient(right,var(--accent1),var(--accent2));
  background: linear-gradient(270deg,var(--accent1) 0,var(--accent2));
  background-size: 350%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: gradientText 3s ease infinite;
  animation: gradientText 3s ease infinite;
  font-size: 5rem;
}

.normal {
  color: transparent;
  -webkit-text-stroke: 0.8px var(--text1);
  font-size: 5rem;
}

@keyframes gradientText {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

@media screen and (min-width: 900px) {
  .btn-big:hover {
      transform: scale(.96);
  }
  
  .btn-big:active {
      transform: scale(.9);
  }
}

@media screen and (max-width: 900px) {
  .text {
    font-size: 3rem;
  }
  
  .normal {
    font-size: 3rem;
  }

  p {
    font-size: 1.25rem;
  }
}
