:root {
    --accent1: #f9063b;
    --accent2: #f9a90d;
    --background1: #111217;
    --text1: #F4F6FB;
    --text2: #d1d1d1;
    --btn-primary-bg: #f9063b;
    --btn-primary-shadow: #f9063b4d;
}

@media (prefers-color-scheme: light) {
    :root {
    --background1: #F4F6FB;
    --text1: #111217;
    --text2: #1b1d24;
    }
  }
